<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete product</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete the product ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button id="submitDelete" type="submit" class="btn btn-primary">Delete</button>
      </div>
    </div>
  </div>
</div>


<div style="position: sticky; top: 0; z-index: 1;" id="alert">
</div>

<div style="margin-bottom: 2vh;" class="row">
  <div class="col-6">
    <h3>All Products</h3>
  </div>
  <div class="col-6 d-flex justify-content-end">
    <a onclick="makeGetRequest(`/api/products/add`)" type="button" class="btn btn-primary align-self-center">+ Add
      Product</a>
  </div>
</div>
<table class="datatable table table-bordered">
  <thead class="table-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Category</th>
      <th scope="col">Brand</th>
      <th scope="col">Title</th>
      <th scope="col">Weight (g)</th>
      <th scope="col">Description</th>
      <th style="width: 23vw;" scope="col" class="text-center">Actions</th>
    </tr>
  </thead>
  <tbody>

    {{#each rows}}
    <tr id="{{this.ProductId}}">
      <th scope="row"></th>
      <td>{{this.productName}}</td>
      <td>{{this.CategoryName}}</td>
      <td>{{this.Brand}}</td>
      <td>{{this.Title}}</td>
      <td>{{this.Weight}}</td>
      <td style="width: 10vw;">{{this.Description}}</td>
      <td class="text-center">
        <a onclick="makeGetRequest(`/api/products/prices/{{this.ProductId}}`)" type="button"
          class="btn btn-light btn-small"><i class="bi bi-eye" style="padding-right: 2px;"></i>Recent Prices</a>
        <a onclick="makeGetRequest(`/api/products/update/{{this.ProductId}}`)" type="button"
          class="btn btn-light btn-small"><i class="bi bi-pencil" style="padding-right: 2px;"></i>Edit</a>
        <a id="delete" onclick="getDeleteReady({{this.ProductId}})" type="button" class="btn btn-light btn-small"><i
            class="bi bi-person-x" style="padding-right: 2px;"></i>Delete</a>
        <!---->
      </td>
    </tr>
    {{/each}}
  </tbody>

  <!--{{#each rows}}
        <div class="design">{{this.Weight}}</div>
        {{/each}}-->
</table>


{{#if token}}
<script type="text/javascript" async>
  localStorage.setItem("token", `{{token}}`);
  //document.cookie='token=`{{token}}`'
</script>
{{/if}}


<script>
  $(document).ready(function () {
    var t = $('.datatable').DataTable({
      "columns": [
        { "data": "number", orderable: false },
        { "data": "Name", orderable: true },
        { "data": "Category", orderable: false },
        { "data": "Brand", orderable: false },
        { "data": "Title", orderable: false },
        { "data": "Weight" },
        { "data": "Description", orderable: false },
        { "data": "Actions", orderable: false }
      ],

      aoColumnDefs: [
        {
          bSortable: false,
          aTargets: [-1]
        }
      ], "order": [[1, 'asc']]
    });
    t.on('order.dt search.dt', function () {
      t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
        cell.innerHTML = i + 1;
      });
    }).draw();
  });

  function fcnSubmitDelete(id) {
    $('#exampleModal').modal('hide');
    // Instantiate an new XHR Object
    const xhr = new XMLHttpRequest();
    // Open an object (GET/POST, PATH,
    // ASYN-TRUE/FALSE)
    xhr.open("DELETE", "/api/products/delete/" + id, true);
    xhr.setRequestHeader('Authorization', 'Bearer ' + localStorage.getItem('token'));

    // When response is ready
    xhr.onload = function () {
      if (this.status === 200) {
        /*$(document).ready(function () {
    $('.datatable').DataTable({
      
  });*/
        var table = $('.datatable').DataTable();
        table.row($('#' + id)).remove().draw();
        // Changing string data into JSON Object
        obj = JSON.parse(this.responseText);
        document.getElementById('alert').innerHTML = `
        <div style="text-align: center;" class="alert alert-success alert-dismissible fade show" role="alert">
          ${obj.alert}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>`;

      }
      else if(this.status != 401) {
        obj = JSON.parse(this.responseText);
        //alert(obj.alert)
        document.getElementById('alert').innerHTML = `
        <div style="text-align: center;" class="alert alert-warning alert-dismissible fade show" role="alert">
          ${obj.fail}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>`
      } else {
        document.open();
        document.write(this.responseText);
        window.history.replaceState(null, "", "/api/login");
        document.close();
      }
    }
    xhr.send();
  }

  //onclick of a tag
  function getDeleteReady(id) {
    $('#exampleModal').modal('show');
    document.getElementById('submitDelete').setAttribute('onclick', 'fcnSubmitDelete(' + id + ')');
  }
</script>